{% extends 'base.html' %}

{% block title %} About us  {% endblock %}


{% block body %} 

{% load static %}
<div class="container-fluid">
     <div class="row">
        <div class="col-sm-12" >
        	<img src="{% static 'img/abt.webp' %}" alt="" class="img-fluid" >
        	
        	
        </div>
     </div> 
    </div>
    <div class="container-fluid">
     <div class="row">
      	<div class="col-sm-2">
      		
      	</div>
      	<div class="col-sm-8">
      		<h2>Our vision</h2>
      		<p>
      			Grocery Getters is leading the charge in transforming India’s vast, unorganized grocery landscape through cutting-edge technology and innovation. We believe every Indian deserves the opportunity to continually improve their life - a process that often begins at home. As part of our mission of helping consumers make healthier, better choices when buying products, we make a wide range of high-quality grocery and household products accessible, affordable, and available right at their doorsteps.<br>

      			We believe that the ecosystem we power can transform the lives of a billion Indians over the coming decade. They will have access to groceries at the best value, be able to discover products that improve their health and wellbeing, and spend more time with their families. All this with the assurance that their essential needs are being looked after by us. On the other side of this virtuous cycle are the millions of local businesses catering to a nation’s needs, helping create more opportunities for employment, growth, and above all, a better life.





             </p>
      	</div>
      	<div claass="col-sm-2">
      		
      	</div>
      		
     </div>
    </div> 

 {% endblock %}
