{% extends 'base.html' %}

{% block title %} About us  {% endblock %}


{% block body %} 

{% load static %}

<div class="container-fluid">
     <div class="row">
        <div class="col-sm-12" >
        	<img src="{% static 'img/abt.webp' %}" alt="" class="img-fluid" >
        	
       
        </div>
     </div> 
    </div>
    <div class="container-fluid">
     <div class="row">
        <div class="col-sm-2">
          
        </div>
        <div class="col-sm-8">
          <h2>Contact us</h2>
          <p>
            <h3>Headquater</h3>
            Village-70np,Raisinghnagar<br>
            Distt-Sri Ganganagar<br>
            RajasthanO(335051)<br>
            mail-vikramsingh70np@gmail.com<br>
            contact no.- +91 9649455436<br>





             </p>
        </div>
        <div claass="col-sm-2">
          
        </div>
          
     </div>
    </div> 

 {% endblock %}
