{% extends 'base.html' %}

{% block title %} home {% endblock %}


{% block body %} 

{% load static %}

    <div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <a href=""><img src="{% static 'img/ff.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
              <div class="carousel-item">
                <a href=""><img src="{% static 'img/fruit.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
              <div class="carousel-item">
                <a href=""><img src="{% static 'img/choco.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
               <span class="carousel-control-prev-icon"></span> 
                 </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
              </a> -->
      </div>
   </div>
 </div>
<div class="container-fluid my-3">
  <div class="row">
  <a href=""><img src="{% static 'img/handwash.webp' %}"></a>
</div>
    
  </div>
</div>
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <a href=""><img src="{% static 'img/banner1.jpg' %}"></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img src="{% static 'img/banner2.jpg' %}"></a>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
          <div id="demo" class="carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <a href=""><img src="{% static 'img/sp.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
              <div class="carousel-item">
                <a href=""><img src="{% static 'img/sp1.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
              <div class="carousel-item">
                <a href=""><img src="{% static 'img/sp2.webp' %}" alt="" class="img-fluid" width="100%" height="100%"></a>
              </div>
            </div>
            
      </div>
   </div>
 </div>


    {% endblock %}