{% extends 'base.html' %}

{% block title %} Breakfast & Dairy{% endblock %}

{% block body %} 

 <div class="container-fluid">
     <div class="row">
      <div class="col-sm-2"></div>
        <div class="col-sm-2">
                <div class="list-group">
  <a class="list-group-item  list-group-item-success text-dark"><h5>Breakfast & Dairy</h5></a>

  
  <a href="{% url 'milks' %}" class="list-group-item list-group-item-action ">Milk & Milk Products</a>
  <!-- <a href="#" class="list-group-item list-group-item-action ">Breads & Eggs</a>
  <a href="#" class="list-group-item list-group-item-action ">Butter & Cheese</a>
  <a href="#" class="list-group-item list-group-item-action">Jams,Honey & Spreads</a>
   -->
  
</div>
</div>
  <div claass="col-sm-8">

     {% for milk  in milks %}
            <img src='/media/{{milk.image}}' style="width:200px";><br>
           {{milk.milk_name}}<br>
            {{milk.milk_desc}}<br>
            price-{{milk.price}}/-
            <button type="submit" class="btn btn-light">Add to cart</button><br>
          

            {%  endfor %}
          
        </div>
          
     </div>
    </div> 

{% endblock %}